body {
    height: auto ;
    width: 100%;
    margin: 35px;
    padding: 1%;
    background: url('../pictures/uniLogo.png') left 30px top 30px no-repeat;
    background-size: 20%;
    background-color: #EAEAEA;
}


.eye_container {
    background: url('../pictures/eye.png') right 30px top 30px no-repeat;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 85%;
    height:auto;
    min-width: 800px;
    padding: 1%;
    background-color: lightsteelblue;
    border-radius: 40px;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

.start-text{
    text-align: center;
    color: blue;
    font-family: "Franklin Gothic Heavy", sans-serif;
    font-size: 55px;
    text-shadow: #FC0 1px 0 10px;
}

.topic-text {
    text-align: center;
    color: darkgreen;
    font-family: "Tahoma", sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    text-shadow: lightgreen 1px 0 10px;
    font-weight: bold;
}
.text {
    margin: 70px 70px;
    padding: 10px;
    text-align: center;
    color: navy;
    font-family: 'Arial', sans-serif;
    font-size: large;
    text-shadow: darkseagreen 1px 0 5px;
    line-height: 1.5em;
}

.textBench {
    margin: 50px 50px;
    padding: 10px;
    text-align: left;
    color: navy;
    font-family: 'Times New Roman', sans-serif;
    font-size: 17px;
    text-shadow: darkseagreen 1px 0 5px;
    line-height: 1.5em;
}

.thanksfoto {
    background: url('../pictures/thanks.png') left top no-repeat;
    text-align: center;
    color: navy;
    font-family: 'Times New Roman', sans-serif;
    font-size: x-large;
    font-weight: bold;
    text-shadow: darkseagreen 1px 0 5px;
    line-height: 1.5em;
    width: 400px;
    height: 110px;
    padding-left: 100px;
}

.okfoto {
    background: url('../pictures/ok.png') left top no-repeat;
    text-align: center;
    color: navy;
    font-family: 'Times New Roman', sans-serif;
    font-size: x-large;
    font-weight: bold;
    text-shadow: darkseagreen 1px 0 5px;
    line-height: 1.5em;
    width: 400px;
    height: 110px;
    padding-left: 130px;
}

.button-container {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    bottom: 15px;
    left: 15px;
    right: 15px;
}


.button-container button {
    margin: 0 10px;
}




.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    font-size: 22px;
    color: yellow;
    background-color: darkcyan;
    border-radius: 50px;
    margin: 0 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.button:hover {
    transform: scale(1.1);
    background-color: lightgreen;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

